<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Chrome - for Google Chrome
    Firefox - for Mozilla Firefox
    IE - for Microsoft Internet Explorer
    -->
    <add key ="browserType" value="Chrome"/>
    <add key="excelFileName" value="..\..\Data\Credentials.xlsx"/>
    <add key="excelSheetName" value="CredentialChrome"/>
    <add key="userNameReceiver" value="User1-1"/>
    <add key="userNameSender" value="User1-6"/>
  </appSettings>
</configuration>